{{ define "content" }}
<div class="container list">
  <header>
    <h1 class="title"></h1>
  </header>
  <div class="columns">
    {{ $section := .Site.GetPage "section" "photography" }} {{ range
    $section.Pages }}
    <div class="column">
      <div class="image is-3by2">
        <a class="title" href="{{ .RelPermalink}}">
          <img src="{{.RelPermalink }}{{ .Params.cover }}" />
        </a>
      </div>
      <h2>
        <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
