{{ define "content" }}
<div class="container list">
  <header>
    <h1 class="title"></h1>
  </header>
  <div class="columns">
    {{ range (readDir "content/photography/") }} {{ if .IsDir }} {{ $path :=
    printf "photography/%s/" .Name }} {{ range where (where $.Site.RegularPages
    "Type" "photography") "File.Dir" $path }}
    <div class="column">
      <div class="image is-3by2">
        <a class="title" href="{{ .RelPermalink}}">
          <img src="{{.RelPermalink }}{{ .Params.cover }}" />
        </a>
      </div>
      <h2>
        <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>
    </div>
    {{ end }} {{ end }} {{ end }}
  </div>
</div>
{{ end }}
