{{ define "content" }}
<section id="overview" class="photo-grid">
  <ul id="photos">
    {{ with .Sections }}
      {{ range . }}
        {{ $section := . }}
        <li class="photo-item">
          <figure>
            <a class="" href="{{ $section.RelPermalink }}">
              {{/* Look for cover image first */}} {{ $cover := "" }} {{ with
              $section.Resources.GetMatch "cover.*" }} {{ $cover = .RelPermalink }}
              {{ else }} {{/* Fallback to first image in section */}} {{ with
              $section.Resources.ByType "image" }} {{ if gt (len .) 0 }} {{ $cover =
              (index . 0).RelPermalink }} {{ end }} {{ end }} {{ end }} {{/* Display
              the image if found */}} {{ if $cover }}
              <img src="{{ $cover }}" alt="{{ $section.Title }} Cover" />
              {{ end }}
            </a>
            <h2 class="photo-title">
              <a class="text" href="{{ $section.RelPermalink }}"
              >{{ $section.Title }}</a
              >
            </h2>
          </figure>
        </li>
      {{ end }}
    {{ end }}
</section>

{{ partial "photo-scripts.html" }}

<script>
  var macy = Macy({
    container: "#photos",
    trueOrder: true,
    waitForImages: false,
    margin: {
      x: 2,
      y: 20,
    },
    columns: 1,
    breakAt: {
      431: {
        margin: {
          y: 10,
        },
        columns: 1,
      },
    },
  });
  function setupClickableItems() {
    const photoItems = document.querySelectorAll(".photo-item");

    photoItems.forEach((item) => {
      item.addEventListener("click", (event) => {
        // Check if the click is on the photo-item or its child
        if (event.target.closest(".photo-item") !== item) {
          return; // Ignore clicks on other elements
        }

        const link = item.querySelector("a");
        if (link) {
          // Check if Ctrl key or Meta key is pressed
          if (event.ctrlKey || event.metaKey) {
            // Open link in a new tab or window
            window.open(link.href, "_blank");
          } else {
            // Navigate to the link in the same tab or window
            window.location.href = link.href;
          }
        }
      });
    });
  }
</script>
<script>
  setupClickableItems(); // Call setupClickableItems on list.html load
</script>
{{ end }}
