{{ define "content" }}
<article class="container page gallery">
  <div id="photo-container">
    <div id="photo-image">
      {{- $image := .Resources.GetMatch "*.jpg*" }} {{- with $image }}
      <img src="{{ .RelPermalink }}" alt="{{ .Title }}" />
      {{ end }}
    </div>
    <div id="photo-content">
      <nav id="page-navigation">
        <div class="metadata-toggle">
          <button id="toggleMetadata" class="project-content-toggle">
            <span class="u-visually-hide">Info</span>
          </button>
        </div>
        <div class="pagination-links">
          {{ $pages := .CurrentSection.Pages.ByWeight.Reverse }}
          <a
            href="{{ with $pages.Prev . }}{{ .RelPermalink }}{{ end }}"
            id="prevLink"
            class="paginate arrow left {{ if not ($pages.Prev .) }}disabled{{ end }}"
            >Prev</a
          >

          <a
            href="{{ with $pages.Next . }}{{ .RelPermalink }}{{ end }}"
            id="nextLink"
            class="paginate arrow right {{ if not ($pages.Next .) }}disabled{{ end }}"
            >Next</a
          >
        </div>
      </nav>
      <h1 class="photo-title">{{ .Title }}</h1>

      <section id="exif">
        {{- $json := .Resources.GetMatch "*.json*" }} {{- with $json }} {{-
        $metadata := unmarshal .Content }}
        <div id="metadata">
          {{ with $metadata.Headline }}
          <h1>{{ . }}</h1>
          {{ else }}
          <h1>{{ $.Title }}</h1>
          {{- end }}

          <!-- prettier-ignore -->
          {{- $cameraMake := or ($metadata.Make) ($metadata.ExifTool.Make) -}}
          {{- if $cameraMake }}
            {{- $cameraMake = replace $cameraMake "OLYMPUS IMAGING CORP." "OLYMPUS" -}}
          {{- end }}

          {{- $cameraModel := or ($metadata.Model) ($metadata.ExifTool.Model) -}}
          {{- $lensModel := or ($metadata.LensModel) ($metadata.XMP.LensModel) -}}
          {{- $focalLength := or ($metadata.FocalLengthIn35mmFormat) ($metadata.FocalLength) ($metadata.ExifTool.FocalLength) -}}
          {{- $fNumber := or ($metadata.FNumber) ($metadata.ExifTool.FNumber) -}}
          {{- $exposureTime := or ($metadata.ExposureTime) ($metadata.ExifTool.ExposureTime) -}}
          {{- $iso := or ($metadata.ISO) ($metadata.ExifTool.ISO) -}}

          <!-- prettier-ignore -->
          {{- $camera := "" }}
          {{- if and $cameraMake $cameraModel }}
            {{ $camera = printf "%s %s" $cameraMake $cameraModel }}
          {{- else if $cameraMake }}
            {{ $camera = $cameraMake }}
          {{- else if $cameraModel }}
            {{ $camera = $cameraModel }}
          {{- end }}

          <h2 id="camera-make">
            <!-- prettier-ignore -->
            {{ with $camera }} {{ . }} {{ end }} {{ with $lensModel }} {{ if $camera }} / {{ end }} {{ . }} {{ end }}
          </h2>

          <!-- prettier-ignore -->
          <dl id="exif">
            {{ with $focalLength }}<dt>Focal Length:</dt><dd> {{ . }}</dd>{{ end }}
            {{ with $fNumber }}<dt>Aperture:</dt><dd>ƒ/{{ . }}</dd>{{ end }}
            {{ with $exposureTime }}<dt>Shutter Speed</dt><dd>{{ . }}s</dd>{{ end }}
            {{ with $iso }}<dt>ISO:</dt><dd>{{ . }}</dd>{{ end }}
          </dl>
        </div>
        {{- end }}
      </section>
    </div>
  </div>
</article>
{{ $js := resources.Get "js/conragan.js" }}
<script src="{{ $js.RelPermalink }}"></script>
<noscript>
  <style>
    #photo-image {
      opacity: 1; /* Make the image visible by default */
    }
  </style>
</noscript>
{{ end }}
