{{ define "content" }}
<article class="container page gallery">
  <div id="photo-container">
    <div id="photo-image">
      {{- $image := .Resources.GetMatch "*.jpg*" }} {{- with $image }}
      <img src="{{ .RelPermalink }}" alt="{{ .Title }}" />
      {{ end }}
    </div>
    <div id="photo-content">
      <nav id="page-navigation">
        <div class="metadata-toggle">
          <button id="toggleMetadata" class="project-content-toggle">
            <span class="u-visually-hide">Info</span>
          </button>
        </div>
        <div class="pagination-links">
          {{ $pages := .CurrentSection.Pages.ByWeight.Reverse }}
          <a
            href="{{ with $pages.Prev . }}{{ .RelPermalink }}{{ end }}"
            id="prevLink"
            class="paginate arrow left {{ if not ($pages.Prev .) }}disabled{{ end }}"
            >Prev</a
          >

          <a
            href="{{ with $pages.Next . }}{{ .RelPermalink }}{{ end }}"
            id="nextLink"
            class="paginate arrow right {{ if not ($pages.Next .) }}disabled{{ end }}"
            >Next</a
          >
        </div>
      </nav>
      <h1 class="photo-title">{{ .Title }}</h1>
      <section id="exif">
        {{- $json := .Resources.GetMatch "*.json*" }} {{- with $json }} {{-
        $metadata := unmarshal .Content }}
        <div id="metadata">
          {{- with or ($metadata.Headline) ($metadata.ExifTool.Headline) }} {{-
          with or ($metadata.Make) ($metadata.ExifTool.Make) }}{{- end }}
          <h1>{{ . }}</h1>
          {{- end }} {{- with or ($metadata.Model) ($metadata.ExifTool.Model) }}
          <p>Camera Model: {{ . }}</p>
          {{- end }} {{- with or ($metadata.LensModel) ($metadata.XMP.LensModel)
          }}
          <p>Lens Model: {{ . }}</p>
          {{- end }} {{- with or ($metadata.FocalLength)
          ($metadata.ExifTool.FocalLength) }}
          <p>Focal Length: {{ . }}</p>
          {{- end }} {{- with or ($metadata.FNumber)
          ($metadata.ExifTool.FNumber) }}
          <p>Aperture: ƒ/{{ . }}</p>
          {{- end }} {{- with or ($metadata.ExposureTime)
          ($metadata.ExifTool.ExposureTime) }}
          <p>Exposure Time: {{ . }} seconds</p>
          {{- end }} {{- with or ($metadata.ISO) ($metadata.ExifTool.ISO) }}
          <p>ISO: {{ . }}</p>
          {{- end }}
          <p>
            {{- with .Params.description }} {{ . }} {{- else }} No description
            available. {{- end }}
          </p>
        </div>
        {{- end }}
      </section>
    </div>
  </div>
</article>
{{ $js := resources.Get "js/conragan.js" }}
<script src="{{ $js.RelPermalink }}"></script>
<noscript>
  <style>
    #photo-image {
      opacity: 1; /* Make the image visible by default */
    }
  </style>
</noscript>
{{ end }}
