<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="light dark">
<meta name="p:domain_verify" content="5e42b91db4d05707d32a9894e67423c5"/>

{{ if .Site.Params.csp }}
{{ partial "csp.html" . }}
{{ end }}

{{ with .Site.Params.author }}
<meta name="author" content="{{ . }}">{{ end }}
<meta name="description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}">
<meta name="keywords" content="{{ (delimit .Keywords ", ") | default .Site.Params.keywords }}">

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
