{{ define "content" }}
<main class="container list">
  <h1>{{ .Title }}</h1>

  <div class="photo-container" id="lightgallery">
    {{- range .Pages }}
    <a href="{{ .RelPermalink }}" class="photo-item">
      {{- with .Resources.GetMatch "*.jpg*" }} {{- $small := (.Resize "x700") }}
      <img
        src="{{ $small.RelPermalink }}"
        width="{{ $small.Width }}"
        height="{{ $small.Height }}"
        alt="{{ .Title }}"
      />
      {{- end }}
      <div class="overlay"></div>
    </a>
    {{- end }}
  </div>
</main>

<script>
  // Initialize lightGallery (replace with your actual lightGallery initialization)
  lightGallery(document.getElementById("lightgallery"));
</script>
{{ end }}
