/* VARIABLES & ROOT ------------------------------------------ */

@font-face {
  font-family: 'ShipsWhistle';
  src: url('/fonts/ShipsWhistle.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ShipsWhistleBold';
  src: url('/fonts/ShipsWhistle-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

--c-white: #fff; /*utility color */
--c-light: #f8f9fa;
--c-light-gray: #dee2e6;
--c-med-gray: #545c64;
--c-med-dark-gray: #25292d;
--c-dark: #1b1e22;
--c-black: #000;
--link-color-light: #33739e; /* default link color for light theme */
--link-color-dark: #f08aa1; /* $link-color-dark */

--transition-duration: 0.4s;

:root {
  /* Indicate site supports light & dark */
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1b1e22;
    --color-text: #f8f9fa;
    --color-links: #f08aa1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f8f9fa;
    --color-text: #1b1e22;
    --color-links: #33739e;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* Header + Global Nav */
header[role=banner] {
  position: relative;
  z-index: 1;
  height: 6rem;
  width: 100%;
  font-family: "ShipsWhistleBold", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-feature-settings: 'ss01';

  div[role=navigation] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    margin: 1rem auto;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 18px;
    max-width: 90rem;
  }

}

.global-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 30px;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}

.global-nav li {
  text-align: center;
  margin: 1.5em auto;
  margin-left: 36px;
}

footer[role=contentinfo] {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .surname {
    display: none;
  }

  .global-nav li {
    margin-left: 24px;
  }
}

main[role=main] {
}

a {
  color: var(--color-text);
  text-decoration-color: transparent;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 1px;
  text-decoration-style: dotted;
  transition: all 0.4s;
}

.h-entry:hover a {
  text-decoration-color: var(--color-text);
}

.h-entry:hover a:hover {
  color: var(--color-links);
  text-decoration-style: solid;
  text-decoration-color: var(--color-links);
}


/*------------------------
 * Blog posts
 * ----------------------*/

.h-feed,
.single-article .container {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 70ch;
}

.single-article .h-entry {
  text-align: left;
  margin: 0 auto;
}

.h-entry {
  font-family: "WorkSans";
}

hr.glyph {
  margin-top: 1em;
  font-size: 48px;
  text-align: center;
  border: 0;
  overflow: visible;
  color: var(--color-text);
  font-family: "ShipsWhistle";
  font-feature-settings: 'ss01';
  font-weight: normal;
}

hr.glyph.sea:after {
  content: "_";
}

hr.glyph.lighthouse:after {
  content: "!";
}

hr.glyph.anchor:after {
  content: "&";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ShipsWhistleBold", serif;
}

.h-entry img {
  max-width: 100%;
  height: auto;
}

.single-article .h-entry header {
  margin-bottom: 16vh;
}

.single-article .h-entry a {
  text-decoration-color: var(--color-text);
}

.single-article .dt-published {
  font-size: smaller;
}

.single-article .h-entry2 p:first-of-type::first-letter {
  font-family: "ShipsWhistleBold";
  font-feature-settings: "ss01";
  font-size: 1.5rem;
  font-weight: bold;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;

}

.h-entry blockquote,
.h-entry .astro-code {
  padding: 0 3vw;
  font-size: smaller;
}

.h-entry .astro-code {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
