/* VARIABLES & ROOT ------------------------------------------ */

@font-face {
  font-family: 'ShipsWhistle';
  src: url('/fonts/ShipsWhistle.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ShipsWhistleBold';
  src: url('/fonts/ShipsWhistle-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

--c-white: #fff; /*utility color */
--c-light: #f8f9fa;
--c-light-gray: #dee2e6;
--c-med-gray: #545c64;
--c-med-dark-gray: #25292d;
--c-dark: #1b1e22;
--c-black: #000;
--link-color-light: #33739e; /* default link color for light theme */
--link-color-dark: #f08aa1; /* $link-color-dark */

--transition-duration: 0.4s;

:root {
  /* Indicate site supports light & dark */
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1b1e22;
    --color-text: #f8f9fa;
    --color-links: #f08aa1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f8f9fa;
    --color-text: #1b1e22;
    --color-links: #33739e;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* Header + Global Nav */
header[role=banner] {
  position: relative;
  z-index: 1;
  height: 6rem;
  width: 100%;
  font-family: "ShipsWhistleBold", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-feature-settings: 'ss01';

  div[role=navigation] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    margin: 1rem auto;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 18px;
    max-width: 90rem;
  }

}

.global-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 30px;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}

.global-nav li {
  text-align: center;
  margin: 1.5em auto;
  margin-left: 36px;
}

footer[role=contentinfo] {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .surname {
    display: none;
  }

  .global-nav li {
    margin-left: 24px;
  }
}

main[role=main] {
}

a {
  color: var(--color-text);
  text-decoration-color: transparent;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 1px;
  text-decoration-style: dotted;
  transition: all 0.4s;
}

.h-entry:hover a {
  text-decoration-color: var(--color-text);
}

.h-entry:hover a:hover {
  color: var(--color-links);
  text-decoration-style: solid;
  text-decoration-color: var(--color-links);
}


/*------------------------
 * Blog posts
 * ----------------------*/

.h-feed,
.single-article .container {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 70ch;
}

.single-article .h-entry {
  text-align: left;
  margin: 0 auto;
}

.h-entry {
  font-family: "WorkSans";
}

hr.glyph {
  margin-top: 1em;
  font-size: 48px;
  text-align: center;
  border: 0;
  overflow: visible;
  color: var(--color-text);
  font-family: "ShipsWhistle";
  font-feature-settings: 'ss01';
  font-weight: normal;
}

hr.glyph.sea:after {
  content: "_";
}

hr.glyph.lighthouse:after {
  content: "!";
}

hr.glyph.anchor:after {
  content: "&";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ShipsWhistleBold", serif;
}

.h-entry img {
  max-width: 100%;
  height: auto;
}

.single-article .h-entry header {
  margin-bottom: 16vh;
}

.single-article .h-entry a {
  text-decoration-color: var(--color-text);
}

.single-article .dt-published {
  font-size: smaller;
}

.single-article .h-entry2 p:first-of-type::first-letter {
  font-family: "ShipsWhistleBold";
  font-feature-settings: "ss01";
  font-size: 1.5rem;
  font-weight: bold;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;

}

.h-entry blockquote,
.h-entry .astro-code {
  padding: 0 3vw;
  font-size: smaller;
}

.h-entry .astro-code {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
}


/**************************************************************************
 * SINGLE IMAGE VIEW
 **************************************************************************/

/* --- Page Navigation --- */

#page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem; /* Set the fixed height here */
}

#photo-content {
  transform: translateY(
    calc(100% - 6rem)
  ); /* Hide most of the container initially and ensure this matches #page-navigation */
  background-color: light-dark(var(--c-light), var(--c-dark));
}

#toggleMetadata,
a.paginate {
  display: inline-block;
  margin: 0;
  line-height: 1.4;
  font-weight: bold;
  text-transform: uppercase;
}

a.paginate {
  color: light-dark(
    var(--fg-color-medium-light),
    var(--bg-color-light)
  ) !important;
  transition: 0.3s color;
}

a.paginate:hover {
  color: light-dar(var(--color-black), var(--color-white)) !important;
  text-decoration: none;
}

a.paginate.disabled {
  color: light-dark(
    var(--fg-color-dark),
    var(--fg-color-medium-light)
  ) !important;
}

#metadata h1,
h2#camera-make {
  font-family: worksans, sans-serif;
  font-weight: 800;
}

h2#camera-make {
  font-size: 1.8rem;
  margin: 2rem 0 0.5rem;
}

dl#exif {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0;
}

dl#exif dt {
  font-variation-settings: "wght" 700;
  margin-right: 0.5em;
}

dl#exif dt::after {
  margin-right: 0.5em; /* Space after colon */
}

dl#exif dd {
  margin: 0; /* Remove default margin */
}

dl#exif dd::after {
  content: " |"; /* Add separator */
  margin-right: 0.5em;
  font-weight: normal;
}

dl#exif dd:last-of-type::after {
  content: ""; /* Add period to last item */
}

/* --- Toggle Button --- */

#metadata-toggle {
  transform: scale(90%);
}

#toggleMetadata {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.project-content-toggle {
  position: relative;
  float: left;
  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.project-content-toggle::before,
.project-content-toggle::after {
  background-color: light-dark(var(--c-dark), var(--c-light));
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: background 0.3s;
}

.project-content-toggle::before {
  height: 9px;
  width: 24px;
}

.project-content-toggle::after {
  height: 24px;
  width: 8px;
  -webkit-transition:
    height 0.3s,
    width 0.3s;
  -o-transition:
    height 0.3s,
    width 0.3s;
  transition:
    height 0.3s,
    width 0.3s;
}

.project-content-toggle:hover::before,
.project-content-toggle:hover::after {
  background-color: light-dark(var(--c-black), var(--c-white));
}

.is-active .project-content-toggle::after {
  height: 8px;
  width: 24px;
}

/* --- Photo Content --- */

#photo-content {
  height: 50%; /* Adjust this if your content height is different */
  left: 0;
  line-height: 120%;
  position: fixed;
  bottom: 0; /* Position from the bottom */
  -webkit-transition:
    background-color 0.3s,
    transform 0.3s;
  -o-transition:
    background-color 0.3s,
    transform 0.3s;
  transition:
    background-color 0.3s,
    transform 0.3s;
  width: 100%;
  padding: 0 2rem; /* Add some padding */
}

/* Adjust this padding if needed */
.is-active #photo-content {
  transform: translateY(0); /* Show the container when active */
}

/* --- Photo Image --- */

#photo-image {
  opacity: 0;
  transition:
    opacity 200ms ease-in-out,
    transform 0.3s; /* Add a smooth transition for opacity */
  text-align: center;
  width: 100%; /* Ensure the container takes full width */
  transform: translateY(0); /* Initial state: no vertical translation */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add a class to move the image up when #photo-content is active */
.is-active #photo-image {
  transform: translateY(-50%); /* Adjust this value as needed */
}

#photo-image img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  border: 2px solid var(--fg-color-medium-dark);
  transition: border 03s;
}

#photo-image.fade-in {
  opacity: 1;
}

/* Media queries for different screen sizes */

/* Small screens */
@media (max-width: 767px) {
  #photo-content .photo-title {
    font-size: 18px;
  }

  #photo-image img {
    border-width: 2px;
  }

  #photo-image.image-portrait {
    max-height: 70vh;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1024px) {
  #photo-image img {
    border-width: 4px;
  }

  #photo-content .photo-title {
    font-size: 20px;
  }

  #photo-image.image-portrait {
    margin: 0 auto;
  }
  #photo-image.image-landscape {
    margin: 0 auto;
    max-width: 90vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #photo-image.image-landscape {
    margin: 0 auto;
  }
}

/* Large screens */
@media (min-width: 1025px) {
  #photo-content .photo-title {
    font-size: 24px;
  }

  #photo-image img {
    border-width: 6px;
  }

  #photo-image.image-landscape {
    margin: 0 auto;
  }
}

/* Landscape orientation on devices with small viewport heights */
@media (max-height: 500px) and (orientation: landscape) {
  #photo-image.image-landscape {
    margin: 0 auto;
  }

  #photo-image.image-portrait {
    margin: 0 auto;
  }

  #photo-image.image-portrait img {
    max-height: 80vh;
  }
}

/* Large screens AND Landscape Orientation */
@media (min-width: 1025px) and (orientation: landscape) {
  #photo-image.image-portrait {
    margin: 0 auto;
  }
}

/* --- Metadata --- */

#photo-content .photo-title {
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#photo-content .photo-title.fade-in {
  opacity: 1;
}

#metadata em {
  font-style: normal;
}
