{{ define "content" }}
<section class="container page">
  <article id="about" class="h-card">
    <div class="flex-column">
      <img src="/img/headshot.jpg" class="u-photo" />
    </div>
    <div class="flex-column">
      <h1>
        <a class="p-name u-url u-uid" href="https://conragan.com/about/">Kai Conragan</a>
      </h1>
      <div class="p-note">
        <p>I’m a <a href="https://google.com" class="external-link" target="_blank" rel="noopener">Senior Director of UX for Google Search</a>, where I’ve spent the last 15 years shaping how billions of people make sense of information every single day. Prior to my current role, I was at <a href="https://en.wikipedia.org/wiki/Metaweb" class="external-link" target="_blank" rel="noopener">MetaWeb</a>, a startup <a href="https://www.fastcompany.com/1671024/google-buys-metaweb-one-company-could-revolutionize-google-search" class="external-link" target="_blank" rel="noopener">acquired by Google</a>. It was here that we created Freebase, a pioneering knowledge base that became the foundation for <a href="https://blog.google/products/search/introducing-knowledge-graph-things-not/" class="external-link" target="_blank" rel="noopener">Google’s Knowledge Graph</a> and went on to inform much of Google’s early machine learning efforts.</p>
        {{ .Content }}
      </div>
      <footer>
        <h3>Elsewhere</h3>
        <ul>
          <li><a href="https://github.com/kconragan/" rel="me">Github</a></li>
          <li><a href="http://mastodon.social/@kconragan" rel="me">Mastodon</a></li>
          <li><a href="https://bsky.app/profile/kconragan.bsky.social" rel="me">Bluesky</a></li>
          <li><a href="https://www.threads.net/@kconragan" rel="me">Threads</a></li>
          <li><a href="https://www.linkedin.com/in/kconragan/" rel="me">LinkedIn</a></li>
        </ul>
      </footer>
    </div>
  </article>
</section>
{{ end }}
