/**************************************************************************
 * GLOBAL STYLES
 **************************************************************************/

:root {
  color-scheme: light dark; /* Indicates that the website supports both light and dark color schemes */

  &[data-color-scheme="light"] {
    color-scheme: light;
  }

  &[data-color-scheme="dark"] {
    color-scheme: dark;
  }
  --gap: 5rem;
  --c-white: #fff; /*utility color */
  --c-light: #f8f9fa;
  --c-light-gray: #dee2e6;
  --c-med-gray: #545c64;
  --c-med-dark-gray: #25292d;
  --c-dark: #1b1e22;
  --c-black: #000;
  --link-color-light: #33739e; /* default link color for light theme */
  --link-color-dark: #f08aa1; /* $link-color-dark */

  --blockquote-bg-color-light: rgba(0, 0, 0, 0.05);
  --blockquote-bg-color-dark: rgba(255, 255, 255, 0.05);

  /* Use light-dark() to switch between light and dark mode colors */
  --bg-color: light-dark(var(--c-light), var(--c-dark));
  --fg-color: light-dark(var(--c-dark), var(--c-light));
  --link-color: light-dark(var(--link-color-light), var(--link-color-dark));
  --blockquote-bg-color: light-dark(
    var(--blockquote-bg-color-light),
    var(--blockquote-bg-color-dark)
  );
}

@media (max-width: 767px) {
  :root {
    --h1-size: 3.2rem !important;
    --gap: 2rem;
  }
}

html {
  font-size: 62.5%;
}

body,
body.colorscheme-dark {
  color: var(--fg-color);
  background-color: var(--bg-color);
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  font-kerning: normal;
  font-size: 1.6rem;
  font-family: worksans, sans-serif;
  letter-spacing: -0.015em;
  line-height: 1.6;
  min-height: 100vh;
}

@font-face {
  font-family: "worksans";
  src: url("/fonts/WorkSans-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "paint-factory";
  src: url("/fonts/PaintFactory-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "nunito";
  src: url("/fonts/Nunito-VariableFont-subset.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "nunito-sans";
  src: url("/fonts/NunitoSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.fa-2x {
  font-size: 1.6em;
}

.fa.fa-threads,
.fa.fa-bluesky {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa-threads:before {
  content: "\E618";
}
.fa-bluesky:before {
  content: "\E671";
}

/* override theme setting of 500 */
body a,
body.colorscheme-dark a {
  font-weight: normal;
  color: light-dark(var(--link-color-light), var(--link-color-dark));
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: paint-factory, sans-serif;
}

.navigation-title,
.navigation-item,
.navigation-link,
.navigation a {
  font-family: worksans, sans-serif;
}

/* normalize global nav colors */
body .navigation a.navigation-title,
body .navigation a.navigation-title:hover,
body.colorscheme-dark a.navigation-title,
body.colorscheme-dark a.navigation-title:hover,
body.colorscheme-dark .navigation-item a:hover,
body .navigation-item a:hover,
body .navigation i,
body .navigation i:hover,
body.colorscheme-dark .navigation i,
body.colorscheme-dark .navigation i:hover {
  color: light-dark(var(--c-dark), var(--c-light));
}

.content blockquote {
  background-color: var(--blockquote-bg-color);
  border-left: 5px solid #393e41;
  margin: 0;
  padding: 1rem 2rem;
  line-height: 1.6;
}

.content article a:where(.external-link):not(:has(img)):after {
  content: "";
  padding-left: 0;
}

.block:not(:last-child),
.box:not(:last-child),
.breadcrumb:not(:last-child),
.content:not(:last-child),
.level:not(:last-child),
.message:not(:last-child),
.notification:not(:last-child),
.pagination:not(:last-child),
.progress:not(:last-child),
.subtitle:not(:last-child),
.table-container:not(:last-child),
.table:not(:last-child),
.tabs:not(:last-child),
.title:not(:last-child),
.content {
  margin-bottom: 3.2rem;
}

/* Header / Footer */
.navigation {
  z-index: 1;
}

.navigation #dark-mode-toggle {
  position: static;
  font-size: 1.7rem;
  margin: 0 1rem;
}

.footer {
  display: none;
}

.navigation .container {
  margin-top: 1em;
}

.navigation .container .navigation-title {
  @media (max-width: 768px) {
    line-height: 3.5rem;
  }
}

/* Homepage */
.centered .about h1 {
  font-size: 48px;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.centered .about h2,
.centered .about h2 a {
  font-family: worksans, sans-serif;
  margin-top: 1em;
}

body.colorscheme-dark .content .centered .about ul li a:hover,
body.colorscheme-dark .content .centered .about ul li a:focus {
  color: var(--link-color-dark);
}

h1 {
  font-size: 5rem;
  line-height: 3.4rem;
  font-weight: 500;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: auto;
}

.content p,
.content li {
  font-size: 1.6rem;
  @media (min-width: 1152px) {
    font-size: 2rem;
  }
}

.content .caption {
  font-size: 1.4rem;
  @media (min-width: 1152px) {
    font-size: 1.6rem;
    font-style: normal;
  }
}

.footer {
  background-color: inherit;
  padding: 0;
}

/**************************************************************************
 * SINGLE IMAGE VIEW
 *************************************************************************/

#page-header {
  margin-bottom: 6rem;
}

#page-header h1 {
  margin: 10rem auto 3.6rem;
  text-align: center;
  font-size: 3.6rem;
}

.blurb {
  margin: 0 6rem;
}

.gallery header,
.gallery header p {
  text-align: center;
}

.gallery header button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.gallery header button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.gallery header button:focus {
  border-color: #4285f4;
  outline: none;
}

.photo-grid {
  width: 100%;
  margin: 0 2rem;
}

#photos {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Adjust minmax values as needed */
  grid-gap: 1rem; /* Adjust gap as needed */
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-item {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

@media (max-width: 430px) {
  .photo-item {
    margin-bottom: 1rem; /* Adjust the value as needed */
  }
}

.photo-item a {
  display: block;
  transition: background 0.2s;
}

li.photo-item + li.photo-item {
  margin: 0;
}

.photo-item figure {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.content h2.photo-title {
  /* layout */
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* to center text inside */
  display: flex;
  align-items: center;
  justify-content: center;

  /* display */
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--c-light-gray);
  font-variation-settings: "wght" 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  text-shadow: 1px 1px 12px black;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* overrride styles for overview template vs. list */

#overview {
  max-width: 1200px;
  margin: 0 auto;
}

#overview h2.photo-title {
  opacity: 1;
  font-size: 4.2rem;
  background-color: rgba(0, 0, 0, 0.2); /* scrim */
}

.photo-title a,
#overview h2.photo-title a {
  font-variation-settings: "wght" 300;
}

/* Small screens */
@media (max-width: 420px) {
  #overview h2.photo-title {
    font-size: 2.4rem;
  }
}

.photo-title a,
body.colorscheme-dark .photo-title a,
.photo-title a:hover {
  color: var(--c-light-gray);
  text-decoration: none;
}

.photo-item:hover .photo-title {
  cursor: pointer;
  opacity: 1;
}

.photo-item img {
  display: block;
  width: 100%;
  height: auto;
}
/**************************************************************************
 * SINGLE IMAGE VIEW
 **************************************************************************/

/* --- Page Navigation --- */

#page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem; /* Set the fixed height here */
}

#photo-content {
  transform: translateY(
    calc(100% - 6rem)
  ); /* Hide most of the container initially and ensure this matches #page-navigation */
  background-color: light-dark(var(--c-light), var(--c-dark));
}

#toggleMetadata,
a.paginate {
  display: inline-block;
  margin: 0;
  line-height: 1.4;
  font-weight: bold;
  text-transform: uppercase;
}

a.paginate {
  color: light-dark(
    var(--fg-color-medium-light),
    var(--bg-color-light)
  ) !important;
  transition: 0.3s color;
}

a.paginate:hover {
  color: light-dar(var(--color-black), var(--color-white)) !important;
  text-decoration: none;
}

a.paginate.disabled {
  color: light-dark(
    var(--fg-color-dark),
    var(--fg-color-medium-light)
  ) !important;
}

#metadata h1 {
  font-family: worksans, sans-serif;
  font-variation-settings: "wght" 600;
}

h2#camera-make {
  font-family: worksans, sans-serif;
  font-variation-settings: "wght" 400;
  font-size: 2.1rem;
  margin: 2rem 0 0.5rem;
}

dl#exif {
  display: flex;
  flex-wrap: wrap;
  font-family: worksans, sans-serif;
  justify-content: left;
  margin: 0;
}

dl#exif dt {
  font-variation-settings: "wght" 700;
  margin-right: 0.5em;
}

dl#exif dt::after {
  margin-right: 0.5em; /* Space after colon */
}

dl#exif dd {
  margin: 0; /* Remove default margin */
}

dl#exif dd::after {
  content: " |"; /* Add separator */
  margin-right: 0.5em;
  font-weight: normal;
}

dl#exif dd:last-of-type::after {
  content: ""; /* Add period to last item */
}

/* --- Toggle Button --- */

#metadata-toggle {
  transform: scale(90%);
}

#toggleMetadata {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.project-content-toggle {
  position: relative;
  float: left;
  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.project-content-toggle::before,
.project-content-toggle::after {
  background-color: light-dark(var(--c-dark), var(--c-light));
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: background 0.3s;
}

.project-content-toggle::before {
  height: 9px;
  width: 24px;
}

.project-content-toggle::after {
  height: 24px;
  width: 8px;
  -webkit-transition:
    height 0.3s,
    width 0.3s;
  -o-transition:
    height 0.3s,
    width 0.3s;
  transition:
    height 0.3s,
    width 0.3s;
}

.project-content-toggle:hover::before,
.project-content-toggle:hover::after {
  background-color: light-dark(var(--c-black), var(--c-white));
}

.is-active .project-content-toggle::after {
  height: 8px;
  width: 24px;
}

/* --- Photo Content --- */

#photo-content {
  height: 50%; /* Adjust this if your content height is different */
  left: 0;
  line-height: 120%;
  position: fixed;
  bottom: 0; /* Position from the bottom */
  -webkit-transition:
    background-color 0.3s,
    transform 0.3s;
  -o-transition:
    background-color 0.3s,
    transform 0.3s;
  transition:
    background-color 0.3s,
    transform 0.3s;
  width: 100%;
  padding: 0 2rem; /* Add some padding */
}

/* Adjust this padding if needed */
.is-active #photo-content {
  transform: translateY(0); /* Show the container when active */
}

/* --- Photo Image --- */

#photo-image {
  opacity: 0;
  transition:
    opacity 200ms ease-in-out,
    transform 0.3s; /* Add a smooth transition for opacity */
  text-align: center;
  width: 100%; /* Ensure the container takes full width */
  transform: translateY(0); /* Initial state: no vertical translation */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add a class to move the image up when #photo-content is active */
.is-active #photo-image {
  transform: translateY(-50%); /* Adjust this value as needed */
}

#photo-image img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  border: 2px solid var(--fg-color-medium-dark);
  transition: border 03s;
}

#photo-image.fade-in {
  opacity: 1;
}

/* Media queries for different screen sizes */

/* Small screens */
@media (max-width: 767px) {
  #photo-content .photo-title {
    font-size: 18px;
  }

  #photo-image img {
    border-width: 2px;
  }

  #photo-image.image-portrait {
    max-height: 70vh;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1024px) {
  #photo-image img {
    border-width: 4px;
  }

  #photo-content .photo-title {
    font-size: 20px;
  }

  #photo-image.image-portrait {
    margin: 0 auto;
  }
  #photo-image.image-landscape {
    margin: 0 auto;
    max-width: 90vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #photo-image.image-landscape {
    margin: 0 auto;
  }
}

/* Large screens */
@media (min-width: 1025px) {
  #photo-content .photo-title {
    font-size: 24px;
  }

  #photo-image img {
    border-width: 6px;
  }

  #photo-image.image-landscape {
    margin: 0 auto;
  }
}

/* Landscape orientation on devices with small viewport heights */
@media (max-height: 500px) and (orientation: landscape) {
  #photo-image.image-landscape {
    margin: 0 auto;
  }

  #photo-image.image-portrait {
    margin: 0 auto;
  }

  #photo-image.image-portrait img {
    max-height: 80vh;
  }
}

/* Large screens AND Landscape Orientation */
@media (min-width: 1025px) and (orientation: landscape) {
  #photo-image.image-portrait {
    margin: 0 auto;
  }
}

/* --- Metadata --- */

#photo-content .photo-title {
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#photo-content .photo-title.fade-in {
  opacity: 1;
}

#metadata em {
  font-style: normal;
}

/**************************************************************************
 * Blog
 **************************************************************************/

.post-title {
  font-weight: normal;
  letter-spacing: -0.015em;
  line-height: 0.95;
  margin-bottom: 1rem;
  margin-top: 0;
}

/* Small screens */
@media (max-width: 767px) {
  .recent-posts,
  .post {
    padding: 0 24px;
  }

  .content article p {
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
  }

  .post-title {
    font-size: 36px;
  }
  .content .post .post-meta .date .posted-on {
    margin-left: 0;
    margin-right: 0;
  }

  .post .title {
    font-size: 48px;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1024px) {
  .recent-posts,
  .post {
    padding: 0 48px;
  }

  .content article p {
    font-size: 18px;
  }
  .post-title {
    font-size: 48px;
  }

  .post .title {
    font-size: 64px;
  }

  .post-meta .date {
    font-size: 21px;
  }
}
/* Large screens */
@media (min-width: 1280px) {
}

.post {
  .post-meta {
    color: light-dark(var(--c-dark), var(--c-med-gray));
    margin-bottom: 0.75em;
  }

  .title {
    letter-spacing: -0.015em;
    line-height: 0.95;
  }

  .post-meta {
    @media only screen and (min-width: 800px) {
      font-size: 18px;
    }
  }
  @media only screen and (min-width: 800px) {
    width: 62.5%;
  }
}

.content .blog-post-summary {
  margin-bottom: 6rem;

  .post-meta {
    margin-bottom: 1rem;
  }
}

.content .blog-post-summary:first-child {
  margin-top: 4rem;
}

/**************************************************************************
 * About
 **************************************************************************/

#about {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  max-width: 80%;
  margin: 0 auto;
}

#about .flex-column {
  margin-bottom: 2rem;
}

#about .flex-column img {
  display: block;
  max-width: 70%;
  height: auto;
  margin: 0 auto;
}

#about .flex-column p {
  font-size: 1.8rem;
  text-align: left;
}

/* Tablet and larger screens */
@media (min-width: 1280px) {
  #about {
    max-width: 100%;
  }

  #about .flex-column img {
    max-width: 100%;
  }
  #about {
    flex-wrap: nowrap; /* Prevent wrapping on larger screens */
  }

  #about .flex-column:first-child {
    width: 25%; /* Headshot column takes 25% width */
    margin-right: 10%; /* Add some space between columns */
  }

  #about .flex-column:last-child {
    width: 50%; /* Content column takes 75% width */
  }
}

/* --- Utilities --- */

.u-visually-hide {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (prefers-color-scheme: dark) {
  #photo-image img {
    border: 0;
  }

  .colorscheme-dark .gallery header button {
    background-color: var(--fg-color-medium);
    border: 1px solid var(--fg-color-medium);
    color: #d8e1e8;
  }
  .colorscheme-dark .gallery header button {
    background-color: var(--fg-color-medium);
    border: 1px solid var(--fg-color-medium);
    color: #d8e1e8;
  }
  .colorscheme-dark .gallery header button:hover {
    border-color: #4b4c4f;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
    color: #d8e1e8;
  }
  .colorscheme-dark .gallery header button:hover {
    border-color: #4b4c4f;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
    color: #d8e1e8;
  }
  .colorscheme-dark .gallery header button:hover {
    border-color: #4b4c4f;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
    color: #d8e1e8;
  }
}
