/**************************************************************************
 * GLOBAL STYLES
 **************************************************************************/

:root {
  --gap: 5rem;
}

@media (max-width: 767px) {
  :root {
    --h1-size: 3.2rem !important;
    --gap: 2rem;
  }
}

html {
  font-size: 62.5%;
}

body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  font-kerning: normal;
  font-size: 1.6rem;
  letter-spacing: -0.015em;
  line-height: 1.6;
  min-height: 100vh;
}

@font-face {
  font-family: "lg";
  src:
    url("/fonts/lg.woff2?io9a6k") format("woff2"),
    url("/fonts/lg.ttf?io9a6k") format("truetype"),
    url("/fonts/lg.woff?io9a6k") format("woff"),
    url("/fonts/lg.svg?io9a6k#lg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.block:not(:last-child),
.box:not(:last-child),
.breadcrumb:not(:last-child),
.content:not(:last-child),
.level:not(:last-child),
.message:not(:last-child),
.notification:not(:last-child),
.pagination:not(:last-child),
.progress:not(:last-child),
.subtitle:not(:last-child),
.table-container:not(:last-child),
.table:not(:last-child),
.tabs:not(:last-child),
.title:not(:last-child),
.content {
  margin-bottom: 3.2rem;
}

.navigation {
  z-index: 1;
}

.footer {
  display: none;
}

.navigation .container {
  margin-top: 1em;
}

.navigation .container .navigation-title {
  @media (max-width: 768px) {
    line-height: 3.5rem;
  }
}

/* Homepage */
.centered .about h1 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 5rem;
  line-height: 3.4rem;
  font-weight: 500;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: auto;
}

.content p,
.content li {
  font-size: 1.6rem;
  @media (min-width: 1152px) {
    font-size: 2rem;
  }
}

.content .caption {
  font-size: 1.4rem;
  @media (min-width: 1152px) {
    font-size: 1.6rem;
    font-style: normal;
  }
}

.footer {
  background-color: inherit;
  padding: 0;
}

.gallery header,
.gallery header p {
  text-align: center;
}

.gallery header button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.colorscheme-dark .gallery header button {
  background-color: #343434;
  border: 1px solid #343434;
  color: #d8e1e8;
}

.gallery header button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.colorscheme-dark .gallery header button:hover {
  border-color: #4b4c4f;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #d8e1e8;
}

.gallery header button:focus {
  border-color: #4285f4;
  outline: none;
}

.image {
  overflow: hidden;
}

.image-grid {
  margin-bottom: 2rem;
}

.image-grid ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.image-grid li {
  height: 30rem;
  margin-right: 0.4rem;
}

.image-grid li + li {
  margin-top: 0;
}

.image-grid li:last-child {
  margin-right: 0;
}

.image-grid li img {
  height: 100%;
}

.image img {
  transition: 0.1s all ease-in-out;
}

.image:hover img {
  transform: scale(1.1);
}

figure.cover {
  margin: 0 auto;
  max-width: none;
  width: 100%;
  grid-column: wide-start / wide-end;
}

.cover img {
  width: 100%;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
}

.photo-container {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 899px) {
    margin: 0;
  }
}

.photo-container .photo-item {
  position: relative;
  padding: 8px;
  width: 50%;

  @media (max-width: 683px) {
    width: 50%;
  }
  @media (min-width: 1152px) {
    width: 33.3%;
  }

  .overlay {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
}

.photo-container .photo-item:hover .overlay {
  opacity: 1;
}

.photo-item:hover {
  cursor: pointer;
}

#lg-components-1 h4 {
  color: #fff;
}

.gh-canvas {
  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--gap), auto) [wide-start] minmax(auto, 240px)
    [main-start] min(var(--content-width, 720px), calc(100% - var(--gap) * 2))
    [main-end] minmax(auto, 240px)
    [wide-end] minmax(var(--gap), auto) [full-end];
}

.gh-canvas > * {
  grid-column: main-start / main-end;
}

/**************************************************************************
 * SINGLE IMAGE VIEW
 **************************************************************************/

/* --- Page Navigation --- */

#page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem; /* Set the fixed height here */
}

#photo-content {
  transform: translateY(
    calc(100% - 6rem)
  ); /* Hide most of the container initially and ensure this matches #page-navigation */
}

#toggleMetadata,
a.paginate {
  display: inline-block;
  margin: 0;
  line-height: 1.4;
  font-weight: bold;
  text-transform: uppercase;
}

a.paginate {
  color: #363636;
  transition: 0.3s color;
}

a.paginate.disabled {
  color: #dadada;
}

a.paginate:hover {
  color: #111;
  text-decoration: none;
}

.colorscheme-dark a.paginate {
  color: #dadada;
}

.colorscheme-dark a.paginate:hover {
  color: #fefefe;
}

.colorscheme-dark a.paginate.disabled {
  color: #363636;
}

/* --- Toggle Button --- */

#metadata-toggle {
  transform: scale(90%);
}

#toggleMetadata {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.project-content-toggle {
  position: relative;
  float: left;
  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.project-content-toggle::before,
.project-content-toggle::after {
  background-color: #363636;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: background 0.3s;
}

.project-content-toggle::before {
  height: 9px;
  width: 24px;
}

.project-content-toggle::after {
  height: 24px;
  width: 8px;
  -webkit-transition:
    height 0.3s,
    width 0.3s;
  -o-transition:
    height 0.3s,
    width 0.3s;
  transition:
    height 0.3s,
    width 0.3s;
}

.project-content-toggle:hover::before,
.project-content-toggle:hover::after {
  background-color: #111;
}

.is-active .project-content-toggle::after {
  height: 8px;
  width: 24px;
}

.colorscheme-dark .project-content-toggle::before,
.colorscheme-dark .project-content-toggle::after {
  background-color: #dadada;
}

.colorscheme-dark .project-content-toggle:hover::before,
.colorscheme-dark .project-content-toggle:hover::after {
  background-color: #fefefe;
}

/* --- Photo Content --- */

#photo-content {
  height: 50%; /* Adjust this if your content height is different */
  left: 0;
  line-height: 120%;
  position: fixed;
  bottom: 0; /* Position from the bottom */
  -webkit-transition:
    background-color 0.3s,
    transform 0.3s;
  -o-transition:
    background-color 0.3s,
    transform 0.3s;
  transition:
    background-color 0.3s,
    transform 0.3s;
  width: 100%;
  padding: 0 2rem; /* Add some padding */
}

/* Adjust this padding if needed */
.is-active #photo-content {
  transform: translateY(0); /* Show the container when active */
}

/* --- Photo Image --- */

#photo-image {
  opacity: 0;
  transition:
    opacity 200ms ease-in-out,
    transform 0.3s; /* Add a smooth transition for opacity */
  text-align: center;
  width: 100%; /* Ensure the container takes full width */
  transform: translateY(0); /* Initial state: no vertical translation */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add a class to move the image up when #photo-content is active */
.is-active #photo-image {
  transform: translateY(-50%); /* Adjust this value as needed */
}

#photo-image img {
  margin: 0 auto;
  max-width: 100%;
  width: auto;
  border: 2px solid #111;
  transition: border 03s;
}

.colorscheme-dark #photo-image img {
  border: 0;
}

#photo-image.fade-in {
  opacity: 1;
}

/* Media queries for different screen sizes */

/* Small screens */
@media (max-width: 767px) {
  #photo-content .photo-title {
    font-size: 18px;
  }

  #photo-image img {
    border-width: 2px;
  }

  #photo-image.image-portrait {
    margin-top: 15%;
    max-height: 70vh;
  }

  #photo-image.image-landscape {
    margin-top: 40%;
    max-height: 50vh;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1024px) {
  #photo-image img {
    border-width: 4px;
  }

  #photo-content .photo-title {
    font-size: 20px;
  }

  #photo-image.image-portrait {
    margin-top: 5%;
  }
  #photo-image.image-landscape {
    margin-top: 18%;
  }
}

/* Large screens */
@media (min-width: 1025px) {
  #photo-content .photo-title {
    font-size: 24px;
  }

  #photo-image img {
    border-width: 6px;
  }

  #photo-image.image-portrait,
  #photo-image.image-landscape,
  #photo-image.image-square {
    height: 85vh;
  }
}

/* Landscape orientation on devices with small viewport heights */
@media (max-height: 500px) and (orientation: landscape) {
  #photo-image.image-landscape {
    margin-top: 5%;
    max-height: 50vh; /* Adjust this value as needed */
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }

  #photo-image.image-portrait {
    margin-left: auto;
    margin-right: auto;
    max-height: 50vh; /* Adjust this value as needed */
    max-width: 50vw;
  }

  #photo-image.image-portrait img {
    max-height: 80vh;
  }
}

/* --- Metadata --- */

#metadata {
}

#metadata p {
}

#photo-content .photo-title {
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#photo-content .photo-title.fade-in {
  opacity: 1;
}

#metadata em {
  font-style: normal;
}

/* --- Utilities --- */

.u-visually-hide {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
