---
import { Image } from 'astro:assets';
import Base from '../layouts/Base.astro';
import headshot from "../assets/headshot.jpg"
---
<Base title="About | Kai Conragan" body="bio">
  <article id="about" class="h-card">
    <div class="flex-column">
      <Image src={headshot} loading="eager" class="u-photo" alt="Headshot of Kai Conragan" />
    </div>
    <div class="flex-column">
      <h1>
        <a class="p-name u-url u-uid" href="https://conragan.com/about/">Kai Conragan</a>
      </h1>
      <div class="p-note">
        <p>I’m a <a href="https://google.com" class="external-link" target="_blank" rel="noopener">Senior Director of UX for Google Search</a>, where I’ve spent the last 15 years shaping how billions of people make sense of information every single day. Prior to my current role, I was at <a href="https://en.wikipedia.org/wiki/Metaweb" class="external-link" target="_blank" rel="noopener">MetaWeb</a>, a startup <a href="https://www.fastcompany.com/1671024/google-buys-metaweb-one-company-could-revolutionize-google-search" class="external-link" target="_blank" rel="noopener">acquired by Google</a>. It was here that we created Freebase, a pioneering knowledge base that became the foundation for <a href="https://blog.google/products/search/introducing-knowledge-graph-things-not/" class="external-link" target="_blank" rel="noopener">Google’s Knowledge Graph</a> and went on to inform much of Google’s early machine learning efforts.</p>
        <p>My design ethos centers on the artful management of friction – exploring when to remove it for ease and when to introduce it for meaning. Just as a well-worn Eames chair or a Yixing teapot gains value with time, I strive to create digital experiences that foster a collaborative relationship between humans and computers, prioritizing understanding and nuance over mere engagement. This approach has been honed through a diverse career, starting from my early days at Oracle and Network Associates (right in the thick of the Y2K frenzy!) to establishing a creative studio that provided design services for outdoor sports companies like Maxxis, Specialized, SFO Snowboarding, and FTC Skate.</p>
        <p>My journey to this point has been anything but linear. Growing up in Half Moon Bay, I developed a lifelong connection to the ocean, surfing the frigid waters of my home. Here, I also got to witness the boundary-pushing feats of <a href="/photography/mavericks/">big-wave surfing at Mavericks</a>, where I first pulled out my lens as a photographer. This early exposure to the power of the ocean led me to make surfing my first gateway into the broader world, taking me to Indonesia, Fiji, Costa Rica, Hawaii, Mexico, and many more places in search of waves. What I brought home, though, was a rich appreciation for the vastness of our world and the beauty of the human spirit. As a PADI Divemaster, I’ve had the privilege to explore the underwater world as well, with over 2,000 dives throughout Southeast Asia, the United States, and more. This has further deepened my appreciation for the vastness of nature and the human drive to explore limits.</p>
        <p>Photography became a natural extension of my life, evolving from capturing the raw power of the ocean to documenting the beauty of <a href="/photography/landscape/">landscapes</a>, <a href="/photography/birds-wildlife/">wildlife</a>, and the diverse cultures I encountered during my <a href="/photography/travel/">travels</a>. These experiences, particularly time spent immersed in different cultures, taught me to observe, listen, and develop empathy – invaluable skills for any designer.</p>
        <p>Today, my website serves primarily as a portfolio for my photography, a passion that continues to inspire and inform my work. Whether I’m designing for the vast scale of Google Search or capturing a fleeting moment through my lens, I’m driven by the same fundamental curiosity – to make sense of the world around us and to create experiences that harmonious with the human spirit.</p>
      </div>
      <footer>
        <h2>Elsewhere</h2>
        <ul>
          <li><a href="https://github.com/kconragan/" rel="me">Github</a></li>
          <li><a href="http://mastodon.social/@kconragan" rel="me">Mastodon</a></li>
          <li><a href="https://bsky.app/profile/kconragan.bsky.social" rel="me">Bluesky</a></li>
          <li><a href="https://www.threads.net/@kconragan" rel="me">Threads</a></li>
          <li><a href="https://www.linkedin.com/in/kconragan/" rel="me">LinkedIn</a></li>
        </ul>
      </footer>
    </div>
  </article>
</Base>
