<section class="container list">
  <header>
    <h1 class="title">
    </h1>
  </header>
  {{ .Content }}
  <div class="columns">
    {{ range .Paginator.Pages }}
    <div class="column">
        <div class="image is-3by2">
          <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">
          {{- $image := .Resources.GetMatch .Params.cover -}}
            {{ with $image }}
            <img src="{{ ($image.Fill "600x400 q100 Center").RelPermalink }}">
            {{ end }}
          </a>
        </div>

        <h2><a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a></a></h2>
    </div>
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
</section>