 <article class="page article">
  <header class="article-header gh-canvas">
        {{- $image := .Resources.GetMatch .Params.cover -}}
        {{ with $image }}
        <figure class="cover">
            <img src="{{ ($image).RelPermalink }}" class="hero-background" />
        </figure>
        {{ end }}    
      <div class="article-meta">
        <time class="article-meta-item" datetime=".Params.date">
          Last update: {{ .Params.Lastmod.Format "January 2006" }}
        </time>
        <span class="post-meta-item post-meta-tags">
          Posted in
        </span>
        <span class="post-meta-item post-meta-length">
          {{ .ReadingTime }} minute read
        </span>
      </div>
      <h1 class="title">
        {{ .Title }}
      </h1>
    </section>
  </header>
  <div class="article-content gh-canvas">
    {{ .Content }}
    <div class="photo-container" id="lightgallery">
        {{- $context := . -}}
        {{- range $src := .Page.Resources.Match "gallery/**.jpg" -}}
          {{- $title := (replace .Title "gallery/" "") -}}
      
          <div class="photo-item" data-src="{{ .Permalink }}" data-sub-html="<h4>{{ $title }}</h4>">
            {{- $resize := default "smart" -}}
      
            {{- $small := ($src.Resize "x700" ) -}}
            {{- $medium := ($src.Resize "x900" ) -}}
            {{- $large := ($src.Resize "x1200" ) -}}
      
            <picture>
              <source srcset="{{ $large.RelPermalink }}" media="(min-width: 900px)">
              <source srcset="{{ $medium.RelPermalink }}" media="(min-width: 600px) and (max-width: 899px)">
              <img src="{{ $small.RelPermalink }}" width="{{ $small.Width }}" height="{{ $small.Height }}" alt="{{ $title }}" />
            </picture>
            <div class="overlay"></div>
          </div>
        {{ end }}
      </div>
</article>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
<script>
  var macy = Macy({
    container: '#lightgallery',
    trueOrder: false,
    waitForImages: false,
    margin: 0,
    columns: 3,
    breakAt: {
      1200: 3,
      940: 2,
      340: 1
    }
  });
</script>
<script type="text/javascript">
  lightGallery(document.getElementById('lightgallery'), {
    download: false
  });
</script>