<!--prettier-ignore-->
{{ $image := "" }}
{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}
{{ $maxwidth := .Get "max-width" | default "100%"}}
{{ $size := .Get "size" | default "800x" }}

<!--prettier-ignore-->
{{ if hasPrefix .Name "http" }}
    {{ $image = .Get "src" }}
<figure>
  <img src="{{ $image }}" alt="{{ $alt }}" loading="lazy" />
  {{ with $caption }}
  <figcaption>{{ . }}</figcaption>
  {{ end }}
</figure>
{{ else }} {{ $image = .Page.Resources.GetMatch (.Get "src") }} {{ with $image
}} {{ $resized := $image.Resize $size }} {{ if $resized }}
<figure class="blog-image">
  <picture>
    {{ with $resized.RelPermalink }} {{ $webpPermalink := replace . ".jpg"
    ".webp" | replace ".JPG" ".webp" | replace ".png" ".webp" }} {{ if
    fileExists (print "static" $webpPermalink) }}
    <source srcset="{{ $webpPermalink }}" type="image/webp" />
    {{ end }}
    <img
      src="{{ . }}"
      alt="{{ $alt }}"
      width="{{ $resized.Width }}"
      style="max-width: {{$maxwidth}}"
      loading="lazy"
    />
    {{ end }}
  </picture>
  {{ with $caption }}
  <figcaption>{{ . }}</figcaption>
  {{ end }}
</figure>
{{ else }}
<p>Error: Image not found or could not be resized.</p>
{{ end }} {{ else }}
<p>Image not found.</p>
{{ end }} {{ end }}
