{{ define "main" }}
<article class="container page gallery">
  <div id="photo-container">
    <div id="photo-content">
      <h1>Photography</h1>
      <section id="gallery-sections">
        <div class="columns">
          {{ range .Sections }} {{ $section := . }}
          <div class="column">
            <div class="image is-3by2">
              hi there my name is mud
              <a class="title" href="{{ $section.RelPermalink }}">
                {{/* Debugging Output */}}
                <p>Section Title: {{ $section.Title }}</p>
                <p>Section Resources: {{ $section.Resources }}</p>

                {{ $cover := "" }} {{ with $section.Resources.GetMatch "cover.*"
                }} {{ $cover = .RelPermalink }} {{ else }} {{ with
                $section.Resources.ByType "image" }} {{ if gt (len .) 0 }} {{
                $cover = (index . 0).RelPermalink }} {{ end }} {{ end }} {{ end
                }} {{ if $cover }}
                <img src="{{ $cover }}" alt="{{ $section.Title }} Cover" />
                {{ end }}
              </a>
            </div>
            <h2>
              <a class="title" href="{{ $section.RelPermalink }}"
                >{{ $section.Title }}</a
              >
            </h2>
          </div>
          {{ end }}
        </div>
      </section>
    </div>
  </div>
</article>
{{ end }}
